<nb-card>
  <nb-card-header>Stock Split</nb-card-header>
  <nb-card-body>
    <form [formGroup]="splitForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="pcompany" class="label">Company</label>
            <input type="hidden" formControlName="userId">
            <nb-select fullWidth id="pcompany" placeholder="Company" formControlName="company"
              (ngModelChange)="loadCurrentAvailability()" [ngClass]="{ 'is-invalid': submitted && f.company.errors }">
              <nb-option *ngFor="let com of companyData" [value]="com.id">
                {{com.code}}
              </nb-option>

            </nb-select>

            <!-- <ng-select formControlName="company">
              <ng-option *ngFor="let com of companyData" [value]="com.id">{{com.code}}</ng-option>
            </ng-select> -->

          </div>

          <div class="form-group">
            <label for="splitDate" class="label">Split Date</label>
            <input nbInput fullWidth placeholder="Split Date" formControlName="splitDate" [nbDatepicker]="splitDate"
              [ngClass]="{ 'is-invalid': submitted && f.splitDate.errors }">
            <nb-datepicker #splitDate></nb-datepicker>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="currentQty" class="label">Current Qty</label>
            <input disabled nbInput fullWidth placeholder="Current Qty" formControlName="currentQty"
              [ngClass]="{ 'is-invalid': submitted && f.currentQty.errors }">
          </div>
          <div class="form-group">
            <label for="futureQty" class="label">Future Qty</label>
            <input type="number" disabled step="any" nbInput fullWidth placeholder="Future Qty"
              formControlName="futureQty" [ngClass]="{ 'is-invalid': submitted && f.futureQty.errors }">
          </div>
          <div class="form-group">
            <label for="currentPrice" class="label">Current Price</label>
            <input type="number" disabled step="any" nbInput fullWidth placeholder="Current Price"
              formControlName="currentPrice" [ngClass]="{ 'is-invalid': submitted && f.currentPrice.errors }">
          </div>
          <div class="form-group">
            <label for="newPrice" class="label">Future Price</label>
            <input type="number" disabled step="any" nbInput fullWidth placeholder="Future Price"
              formControlName="newPrice" [ngClass]="{ 'is-invalid': submitted && f.newPrice.errors }">
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-md-6">
          <nb-alert outline="info">
            <div class="form-group">
              <label for="outQty" class="label col-md-2">Output Qty</label>
              <input type="number" (input)="calculateFutureAmount()" class="col-md-3" step="any" nbInput fullWidth
                placeholder="Output Qty" formControlName="outQty">
              <label for="fromQty" class="label col-md-2">From Qty</label>
              <input type="number" (input)="calculateFutureAmount()" class="col-md-3" step="any" nbInput fullWidth
                placeholder="From Qty" formControlName="fromQty">

            </div>

          </nb-alert>
        </div>

      </div>


      <div class="row">
        <div class="col-md-10">

        </div>
        <div class="col-md-2">
          <button type="submit" nbButton status="danger" class="pull-right">Proceed Stock Split</button>
        </div>
      </div>
    </form>
    <br>

    <nb-card>
      <nb-card-header>
        Splits History
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-12">
            <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
            </ng2-smart-table>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-card-body>
</nb-card>