<nb-card>
    <nb-card-header>Dividend Receive</nb-card-header>
    <nb-card-body>
      <form [formGroup]="splitForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="pcompany" class="label">Company</label>
        <input type="hidden"      formControlName="userId" >
      <nb-select  fullWidth   id="pcompany" placeholder="Company" formControlName="company">
        <nb-option *ngFor="let com of companyData"  [value]="com.id" >
          {{com.code}}
        </nb-option> 

      </nb-select>
      </div>

      <div class="form-group">
        <label for="divDate" class="label">Dividend Received Date</label>
        <input   nbInput fullWidth  placeholder="Dividend Received"  formControlName="divDate"     [nbDatepicker]="divDate">
        <nb-datepicker #divDate></nb-datepicker>
      </div>

       

      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="divxdDate" class="label">Dividend XD Date</label>
          <input   nbInput fullWidth  placeholder="Dividend XD Date"   formControlName="divxdDate"   [nbDatepicker]="divxdDate">
          <nb-datepicker #divxdDate></nb-datepicker>
        </div>
        <div class="form-group">
          <label for="currentPrice" class="label">Current Price</label>
          <input   nbInput fullWidth  placeholder="Current Price"  formControlName="currentPrice" >
        </div>

      

      </div>
  </div>

  
      <div class="row">
          <div class="col-md-10">
            
          </div>
          <div class="col-md-2">
            <button type="submit" nbButton status="danger" class="pull-right">Save</button>
          </div>
      </div>
        </form>
        <br>

        <nb-card>
          <nb-card-header>
            Splits History
          </nb-card-header>
          <nb-card-body>
          <div class="row">
            <div class="col-md-12">
              <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
              </ng2-smart-table>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </nb-card-body>
  </nb-card>