<ngx-nav></ngx-nav>
<div class="contact-area" id="contact">
    <div class="container">
        <div class="col-lg-8">
            <div class="right-content-area">
                <!-- right content area -->
                <div class="contac-form-wrapper">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="https://img.icons8.com/nolan/96/lock.png" width="90px" />
                        </div>
                        <div class="col-md-5" style="position: absolute;margin-top: 40px; margin-left: 110px;">
                            <label style="font-weight: bold;font-size: 18px;">Application Login</label>
                        </div>
                    </div>
                    <p></p>
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="get-touch-form">
                        <div class="form-element margin-bottom-20">
                            <input type="text" id="name" class="input-field" placeholder="Username"
                                formControlName="username">
                        </div>
                        <div class="form-element margin-bottom-20">
                            <input type="password" id="password" class="input-field" placeholder="Password"
                                formControlName="password">
                        </div>

                        <div class="form-element margin-bottom-20">
                            <input type="checkbox" name="rememberme" id="remember" value="1" formControlName="remember">
                            <label style="margin-left: 10px;" for="remember"> Remember me</label>
                            <label style="float: right;color: red;">{{errorText}}</label>
                        </div>
                        <div class="row">
                            <div class="col-md-6">

                                <input *ngIf="loading; else elseBlock" type="submit" class="submit-btn default"
                                    value="Login">
                                <ng-template #elseBlock>
                                    <input type="submit" class="submit-btn " value="Login">
                                </ng-template>

                            </div>
                            <div class="col-md-6">
                                <a class="cls-register" routerLink="../start-now"> <strong>Register Now</strong> </a>
                            </div>
                        </div>

                    </form>
                </div>
            </div><!-- //. right content area -->
        </div>
    </div>
</div>
<br>
<br>

<ngx-footer style="position: fixed;bottom: 0;width:100%"></ngx-footer>