<ngx-nav></ngx-nav>
<div class="contact-area" id="contact">
    <div class="container">
        <div class="col-lg-8">
            <div class="right-content-area">
                <!-- right content area -->
                <div class="contac-form-wrapper">
                    <h4 class="title">Login</h4>
                    <form action="https://irtech.biz/tf/timepiece/html/index.html" class="get-touch-form"
                        id="contact_form_submit">
                        <div class="form-element margin-bottom-20">
                            <input type="text" id="name" class="input-field" placeholder="Username">
                        </div>
                        <div class="form-element margin-bottom-20">
                            <input type="password" id="password" class="input-field" placeholder="Password">
                        </div>

                        <input type="submit" class="submit-btn" value="Login">
                    </form>
                </div>
            </div><!-- //. right content area -->
        </div>
    </div>
</div>

<ngx-footer style="position: fixed;bottom: 0;width:100%"></ngx-footer>