<ngx-nav></ngx-nav>
<!-- contact area start -->
<div class="contact-area" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="left-content-area">
                    <!-- left content area  -->
                    <h4 class="title">Get in Touch</h4>
                    <p>We will be happy to assist you with any
                        question regarding online and in store
                        purchases.</p>
                    <ul class="contact-info-list">
                        <li>
                            <div class="sigle-contact-info-item">
                                <!-- single contact info item -->
                                <div class="icon">
                                    <i class="icofont-google-map"></i>
                                </div>
                                <div class="content">
                                    <h4 class="title">Location</h4>
                                    <span class="details">1234,Parkstreet Avenue, America.</span>
                                </div>
                            </div><!-- //.single contact info item -->
                        </li>
                        <li>
                            <div class="sigle-contact-info-item">
                                <!-- single contact info item -->
                                <div class="icon">
                                    <i class="icofont-phone"></i>
                                </div>
                                <div class="content">
                                    <h4 class="title">Phone number</h4>
                                    <span class="details">0123 456789</span>
                                </div>
                            </div><!-- //.single contact info item -->
                        </li>
                        <li>
                            <div class="sigle-contact-info-item">
                                <!-- single contact info item -->
                                <div class="icon">
                                    <i class="icofont-email"></i>
                                </div>
                                <div class="content">
                                    <h4 class="title">Email Address</h4>
                                    <span class="details">Info@timepiece.com</span>
                                </div>
                            </div><!-- //.single contact info item -->
                        </li>
                    </ul>
                </div><!-- // . left content area-->
            </div>
            <div class="col-lg-8">
                <div class="right-content-area">
                    <!-- right content area -->
                    <div class="contac-form-wrapper">
                        <h4 class="title">Say Something</h4>
                        <form action="https://irtech.biz/tf/timepiece/html/index.html" class="get-touch-form"
                            id="contact_form_submit">
                            <div class="form-element margin-bottom-20">
                                <input type="text" id="name" class="input-field" placeholder="Name">
                            </div>
                            <div class="form-element margin-bottom-20">
                                <input type="email" id="email" class="input-field" placeholder="Email">
                            </div>
                            <div class="form-element margin-bottom-40">
                                <textarea name="message" id="message" cols="30" rows="10" class="input-field textarea"
                                    placeholder="Message"></textarea>
                            </div>
                            <input type="submit" class="submit-btn" value="send message">
                        </form>
                    </div>
                </div><!-- //. right content area -->
            </div>
        </div>
    </div>
</div>
<br>
<br>
<!-- contact area end -->
<ngx-footer style="position: fixed;bottom: 0;width:100%"></ngx-footer>