<ngx-nav></ngx-nav>
<!-- about area start -->
<section class="about-area gray-bg" id="about">
    <div class="container">
        <div class="row reorder-xs">
            <div class="col-lg-6">
                <div class="left-content-area">
                    <!-- left content area -->
                    <h2 class="title">Manage Your CSE Profile</h2>
                    <p>This web application not commiunicate with your cse account ,
                        therefor want to enter buying and selling data to this system then only get update your profile.

                    </p>
                    <p>But we are Directly commiunicate with CSE website and update realtime equity prices and
                        indexes , insted of that can see your unrealize profit/loss . </p>
                    <div class="btn-wrapper wow fadeInUp">
                        <a href="#" class="boxed-btn btn-rounded" routerLink="../start-now">Start Now</a>
                    </div>
                </div><!--  //. left content area -->
            </div>
            <div class="col-lg-6">
                <div class="right-content-area">
                    <!-- right content -area -->
                    <div class="img-wrapper">
                        <img src="assets/img/about-video.jpg" alt="about section image">
                        <div class="hover">
                            <a href="https://www.youtube.com/watch?v=huTSPanUlQM" class="video-play-btn mfp-iframe"><i
                                    class="icofont-ui-play"></i></a>
                        </div>
                    </div>
                </div><!-- //.right content -area -->
            </div>
        </div>
    </div>
</section>
<!-- about area end -->
<ngx-footer></ngx-footer>