<ngx-nav></ngx-nav>
<!-- about area start -->
<section class="about-area gray-bg" id="about">
    <div class="container">
        <div class="row reorder-xs">
            <div class="col-lg-6">
                <div class="left-content-area">
                    <!-- left content area -->
                    <h2 class="title">Express your Personality</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur interdum varius massa
                        vitae volutpat. Sed libero sem, pretium quis efficitur eu, cursus sed nisi. Suspendisse
                        commodo felis eget orci accumsan, quis rutrum massa vestibulum. Nulla vel porttitor neque.
                        Maecenas mattis purus ac lectus sodales</p>
                    <p> Do related mr Wrong for never ready ham these witty him. Our compass see age uncivil matters
                        weather forbade her minutes. Ready how but truth son new under. </p>
                    <div class="btn-wrapper wow fadeInUp">
                        <a href="#" class="boxed-btn btn-rounded">Shop Now</a>
                    </div>
                </div><!--  //. left content area -->
            </div>
            <div class="col-lg-6">
                <div class="right-content-area">
                    <!-- right content -area -->
                    <div class="img-wrapper">
                        <img src="assets/img/about-video.jpg" alt="about section image">
                        <div class="hover">
                            <a href="https://www.youtube.com/watch?v=huTSPanUlQM" class="video-play-btn mfp-iframe"><i
                                    class="icofont-ui-play"></i></a>
                        </div>
                    </div>
                </div><!-- //.right content -area -->
            </div>
        </div>
    </div>
</section>
<!-- about area end -->
<ngx-footer></ngx-footer>