<ngx-nav></ngx-nav>
<!-- about area start -->
<section class="about-area gray-bg" id="about">
    <div class="container">
        <div class="row reorder-xs">
            <div class="col-lg-6">
                <div class="left-content-area">
                    <!-- left content area -->
                    <h2 class="title">Manage Your CSE Profile</h2>
                    <p>
                        This web application is not directly communicate with your CSE account , hence you must update
                        your buying and selling data to this system.
                    </p>
                    <p>
                        But we are directly communicate with CSE website to get real-time prices and indexes via public
                        APIs .
                    </p>
                    <p>
                        with that you’re in a position to simulate your unrealized profit or loss .
                    </p>
                    <div class="btn-wrapper wow fadeInUp">
                        <a href="#" class="boxed-btn btn-rounded" routerLink="../start-now">Start Now</a>
                    </div>

                    <br>








                </div><!--  //. left content area -->
            </div>
            <div class="col-lg-6">
                <div class="right-content-area">
                    <!-- right content -area -->
                    <div class="img-wrapper">
                        <img src="assets/img/about-video.jpg" alt="about section image">
                        <div class="hover">
                            <a href="https://www.youtube.com/watch?v=J4I9gD52YtM" class="video-play-btn mfp-iframe"><i
                                    class="icofont-ui-play"></i></a>
                        </div>
                    </div>
                </div><!-- //.right content -area -->
            </div>
            <p></p>

            <div class="row">

                <div class="col-lg-12">
                    <br>
                    <table class="table table-hover">
                        <thead>
                            <th>
                                <h5>
                                    These are the facilities you can get using this application
                                </h5>
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <li class="fa fa-paper-plane">
                                        Can calculate profit amount and percentage with same day transaction
                                        cost and different day transactions cost

                                    </li>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <li class="fa fa-paper-plane">
                                        Can view your transaction history and behaviors
                                    </li>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <li class="fa fa-paper-plane">
                                        Can analyze your monthly and annual progress (deposit, profit, buying and
                                        selling)
                                        using with different types of data charts
                                    </li>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <li class="fa fa-paper-plane">
                                        Can view many triggers relate to yours invests ...
                                    </li>
                                </td>
                            </tr>


                            <tr>
                                <td>
                                    <table class="table table-hover" style="margin-left: 30px;">
                                        <tbody>
                                            <tr>
                                                <td>

                                                    <li class="fa fa-arrow-right">
                                                        Total Investment
                                                    </li>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="table-td">
                                                    <li class="fa fa-arrow-right">
                                                        Cash In Hand
                                                    </li>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <li class="fa fa-arrow-right">
                                                        Realize Net worth
                                                    </li>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <li class="fa fa-arrow-right">
                                                        Unrealized Net worth
                                                    </li>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <li class="fa fa-arrow-right">
                                                        Current Month Earning
                                                    </li>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <li class="fa fa-arrow-right">
                                                        Total Earning
                                                    </li>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td>

                                </td>
                            </tr>

                        </tbody>
                    </table>


                </div>
            </div>

        </div>
    </div>
</section>
<!-- about area end -->
<ngx-footer></ngx-footer>