<header class="header-area header-bg" id="home">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="header-inner">
                    <h1 class="title wow fadeInDown">Manage Your CSE Profile</h1>
                    <p>
                        You can see where you are and Progress , Entering day today transactions
                    </p>
                    <div class="btn-wrapper wow fadeInUp">
                        <a href="#" class="boxed-btn btn-rounded">Start Now</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>
<!-- header bottom area start -->
<section class="header-botttom-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-header-bottom-item">
                    <!-- single header bottom item -->
                    <div class="icon">
                        <i class="flaticon-world"></i>
                    </div>
                    <div class="content">
                        <h4 class="title">Easy to Use</h4>
                        <p>Simple & Easy way to Handle your cse profile </p>
                    </div>
                </div><!-- //. single header bottom item -->
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-header-bottom-item">
                    <!-- single header bottom item -->
                    <div class="icon">
                        <i class="flaticon-donation"></i>
                    </div>
                    <div class="content">
                        <h4 class="title">Time Saving</h4>
                        <p>Don't want to maintain your books</p>
                    </div>
                </div><!-- //. single header bottom item -->
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-header-bottom-item">
                    <!-- single header bottom item -->
                    <div class="icon">
                        <i class="flaticon-secure-shield"></i>
                    </div>
                    <div class="content">
                        <h4 class="title">Safe & Secure</h4>
                        <p>Safe and secure your data</p>
                    </div>
                </div><!-- //. single header bottom item -->
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-header-bottom-item">
                    <!-- single header bottom item -->
                    <div class="icon">
                        <i class="flaticon-support"></i>
                    </div>
                    <div class="content">
                        <h4 class="title">24/7 Support</h4>
                        <p>No Magic Dedicated Support is available</p>
                    </div>
                </div><!-- //. single header bottom item -->
            </div>
        </div>
    </div>
</section>
<!-- header bottom area end -->