<ngx-nav></ngx-nav>
<!-- faq area start -->
<section class="faq-area faq-area-bg" id="faq">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title">
                    <h2 class="title">Frequently asked questions</h2>
                    <p> Sed venenatis pellentesque erat in faucibus. Nunc laoreet leo eu nulla molestie lacinia.
                        Curabitur sed sodales elit. Sed eget dignissim arcu</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content-area">
                    <!-- left content area -->
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne">
                                        Imperdiet magnanec, scelerisque quam ?
                                    </a>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur interdum
                                    varius massa vitate volutpat. Sed libero sem, pretium quis efficitur eu, cursus
                                    sed nisi. Suspendisse commodo felis eget orci accumsan, quis rutrum massa
                                    vestibulum.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                        aria-expanded="false" aria-controls="collapseTwo">
                                        Imperdiet magnanec, scelerisque quam ?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur interdum
                                    varius massa vitate volutpat. Sed libero sem, pretium quis efficitur eu, cursus
                                    sed nisi. Suspendisse commodo felis eget orci accumsan, quis rutrum massa
                                    vestibulum.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseThree"
                                        aria-expanded="false" aria-controls="collapseThree">
                                        Imperdiet magnanec, scelerisque quam ?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur interdum
                                    varius massa vitate volutpat. Sed libero sem, pretium quis efficitur eu, cursus
                                    sed nisi. Suspendisse commodo felis eget orci accumsan, quis rutrum massa
                                    vestibulum.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseFour"
                                        aria-expanded="false" aria-controls="collapseFour">
                                        Imperdiet magnanec, scelerisque quam ?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur interdum
                                    varius massa vitate volutpat. Sed libero sem, pretium quis efficitur eu, cursus
                                    sed nisi. Suspendisse commodo felis eget orci accumsan, quis rutrum massa
                                    vestibulum.
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- //. left content area -->
            </div>
            <div class="col-lg-6">
                <div class="right-content-area">
                    <div id="accordion_2">
                        <div class="card">
                            <div class="card-header" id="headingOne_2">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" data-target="#collapseOne_2" aria-expanded="true"
                                        aria-controls="collapseOne_2">
                                        Imperdiet magnanec, scelerisque quam ?
                                    </a>
                                </h5>
                            </div>

                            <div id="collapseOne_2" class="collapse show" aria-labelledby="headingOne_2"
                                data-parent="#accordion_2">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur interdum
                                    varius massa vitate volutpat. Sed libero sem, pretium quis efficitur eu, cursus
                                    sed nisi. Suspendisse commodo felis eget orci accumsan, quis rutrum massa
                                    vestibulum.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo_2">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseTwo_2"
                                        aria-expanded="false" aria-controls="collapseTwo_2">
                                        Imperdiet magnanec, scelerisque quam ?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseTwo_2" class="collapse" aria-labelledby="headingTwo_2"
                                data-parent="#accordion_2">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur interdum
                                    varius massa vitate volutpat. Sed libero sem, pretium quis efficitur eu, cursus
                                    sed nisi. Suspendisse commodo felis eget orci accumsan, quis rutrum massa
                                    vestibulum.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree_2">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseThree_2"
                                        aria-expanded="false" aria-controls="collapseThree_2">
                                        Imperdiet magnanec, scelerisque quam ?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseThree_2" class="collapse" aria-labelledby="headingThree_2"
                                data-parent="#accordion_2">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur interdum
                                    varius massa vitate volutpat. Sed libero sem, pretium quis efficitur eu, cursus
                                    sed nisi. Suspendisse commodo felis eget orci accumsan, quis rutrum massa
                                    vestibulum.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFour_2">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapseFour_2"
                                        aria-expanded="false" aria-controls="collapseFour_2">
                                        Imperdiet magnanec, scelerisque quam ?
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseFour_2" class="collapse" aria-labelledby="headingFour_2"
                                data-parent="#accordion_2">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur interdum
                                    varius massa vitate volutpat. Sed libero sem, pretium quis efficitur eu, cursus
                                    sed nisi. Suspendisse commodo felis eget orci accumsan, quis rutrum massa
                                    vestibulum.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- faq area end -->
<ngx-footer></ngx-footer>