<ngx-nav></ngx-nav>
<!-- feature area start -->
<section class="features-area-start" id="feature">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title">
                    <h2 class="title">Product Features</h2>
                    <p> Sed venenatis pellentesque erat in faucibus. Nunc laoreet leo eu nulla molestie lacinia.
                        Curabitur sed sodales elit. Sed eget dignissim arcu</p>
                </div>
            </div>
        </div>
        <div class="row reorder-xs product-fetured-row right">
            <div class="col-lg-6">
                <div class="left-content-area">
                    <div class="icon">
                        <i class="icofont-wall-clock"></i>
                    </div>
                    <div class="content">
                        <h4 class="title">Light Weight</h4>
                        <p>Maecenas vitae malesuada turpis, sit amet ultrices purus. Sed venenatis pellentesque erat
                            in faucibus. Nunc laoreet leo eu nulla molestie lacinia. Curabitur sed sodales elit. Sed
                            eget dignissim arcu, quis vulputate quam.</p>
                        <div class="btn-wrapper">
                            <a href="#" class="boxed-btn">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content-area margin-bottom-60">
                    <div class="img-wrapper">
                        <img src="assets/img/features/01.jpg" alt="product image">
                    </div>
                </div>
            </div>
        </div>
        <div class="row product-fetured-row left">
            <div class="col-lg-6">
                <div class="right-content-area margin-bottom-60">
                    <div class="img-wrapper">
                        <img src="assets/img/features/02.jpg" alt="product image">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="left-content-area ">
                    <div class="icon">
                        <i class="icofont-ui-brightness"></i>
                    </div>
                    <div class="content">
                        <h4 class="title">Silky Smooth, Liquid Silicone Band</h4>
                        <p>Maecenas vitae malesuada turpis, sit amet ultrices purus. Sed venenatis pellentesque erat
                            in faucibus. Nunc laoreet leo eu nulla molestie lacinia. Curabitur sed sodales elit. Sed
                            eget dignissim arcu, quis vulputate quam.</p>
                        <div class="btn-wrapper">
                            <a href="#" class="boxed-btn">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row reorder-xs product-fetured-row right">
            <div class="col-lg-6">
                <div class="left-content-area">
                    <div class="icon">
                        <i class="icofont-water-drop"></i>
                    </div>
                    <div class="content">
                        <h4 class="title">Water And Sweat Resistance</h4>
                        <p>Maecenas vitae malesuada turpis, sit amet ultrices purus. Sed venenatis pellentesque erat
                            in faucibus. Nunc laoreet leo eu nulla molestie lacinia. Curabitur sed sodales elit. Sed
                            eget dignissim arcu, quis vulputate quam.</p>
                        <div class="btn-wrapper">
                            <a href="#" class="boxed-btn">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content-area">
                    <div class="img-wrapper">
                        <img src="assets/img/features/03.jpg" alt="product image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- feature area end -->
<ngx-footer></ngx-footer>