<ngx-nav></ngx-nav>
<!-- feature area start -->
<section class="features-area-start" id="feature">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title">
                    <h2 class="title">How To</h2>
                    <p> This is How Main Functionality are Working ... </p>
                </div>
            </div>
        </div>
        <p></p>
        <div class="row reorder-xs product-fetured-row right">
            <div class="col-lg-6">
                <div class="left-content-area">
                    <div class="icon">
                        <i class="icofont-wall-clock"></i>
                    </div>
                    <div class="content">
                        <h4 class="title">Create an Account</h4>
                        <p>Click Start Now Button and Create Free Account with username and password .</p>
                        <p>Please use strong password for sequre your data </p>
                        <div class="btn-wrapper">
                            <a href="#" class="boxed-btn" routerLink="../start-now">Start Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content-area">
                    <img src="assets/img/about-video.jpg" alt="about section image">
                    <div class="hover">
                        <a href="https://www.youtube.com/watch?v=J4I9gD52YtM" class="video-play-btn mfp-iframe"><i
                                class="icofont-ui-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <p></p>
        <div class="row product-fetured-row left">
            <div class="col-lg-6">
                <div class="right-content-area margin-bottom-60">
                    <div class="img-wrapper">
                        <img src="assets/img/about-video.jpg" alt="about section image">
                        <div class="hover">
                            <a href="https://www.youtube.com/watch?v=aPxDtMfuFfU" class="video-play-btn mfp-iframe"><i
                                    class="icofont-ui-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="left-content-area ">
                    <div class="icon">
                        <i class="icofont-ui-brightness"></i>
                    </div>
                    <div class="content">
                        <h4 class="title">Enter Deposit Amounts </h4>
                        <p>can enter previous deposit amounts then you would be able to view your real
                            progress</p>
                        <div class="btn-wrapper">
                            <a href="#" class="boxed-btn" routerLink="../start-now">Start Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row reorder-xs product-fetured-row right">
            <div class="col-lg-6">
                <div class="left-content-area">
                    <div class="icon">
                        <i class="icofont-water-drop"></i>
                    </div>
                    <div class="content">
                        <h4 class="title">Entering Buying & Selling Data</h4>
                        <p>In this Page display your portfolio , easyly can enter buying & selling data to this
                            application . system generates many Indicators for you can filter as you wish </p>
                        <ul>
                            <li class="fa fa-paper-plane">
                                Realized and Unrealized profit/loss
                            </li>
                            <p></p>
                            <li class="fa fa-paper-plane">
                                Total Equity Holding
                            </li>
                            <p></p>
                            <li class="fa fa-paper-plane">
                                Current Month Earning
                            </li>
                            <p></p>
                            <li class="fa fa-paper-plane">
                                Total Earning
                            </li>
                            <p></p>
                            <li class="fa fa-paper-plane">
                                Cash In Hand
                            </li>
                        </ul>
                        <div class="btn-wrapper">
                            <a href="#" class="boxed-btn" routerLink="../start-now">Start Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content-area">
                    <div class="img-wrapper">
                        <img src="assets/img/about-video.jpg" alt="about section image">
                        <div class="hover">
                            <a href="https://youtu.be/WaqIEa2fPf0" class="video-play-btn mfp-iframe"><i
                                    class="icofont-ui-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- feature area end -->
<ngx-footer></ngx-footer>