<nb-card>
    <nb-card-header>IPO | Right Issued</nb-card-header>
    <nb-card-body>
        <form [formGroup]="ipoRIForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-6">

                    <div class="form-group">
                        <label for="transType" class="label">Transaction Type</label>
                        <input type="hidden" formControlName="userId">
                        <nb-select fullWidth id="transType" placeholder="Transaction Type" formControlName="transType"
                            [ngClass]="{ 'is-invalid': submitted && f.transType.errors }">
                            <nb-option *ngFor="let trans of transactionType" [value]="trans.id">
                                {{trans.type}}
                            </nb-option>

                        </nb-select>
                    </div>
                    <div class="form-group">
                        <label for="pcompany" class="label">Company</label>
                        <input type="hidden" formControlName="userId">
                        <nb-select fullWidth id="pcompany" placeholder="Company" formControlName="company"
                            [ngClass]="{ 'is-invalid': submitted && f.company.errors }">
                            <nb-option *ngFor="let com of companyData" [value]="com.id">
                                {{com.code}}
                            </nb-option>

                        </nb-select>
                    </div>

                    <div class="form-group">
                        <label for="date" class="label">Date</label>
                        <input nbInput fullWidth placeholder="Transaction Date" formControlName="date"
                            [nbDatepicker]="date" [ngClass]="{ 'is-invalid': submitted && f.date.errors }">
                        <nb-datepicker #date></nb-datepicker>
                    </div>



                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        <label for="qty" class="label">Qty</label>
                        <input type="number" nbInput fullWidth placeholder="Qty" (input)="calculateAmount()"
                            formControlName="qty" [ngClass]="{ 'is-invalid': submitted && f.qty.errors }">
                    </div>

                    <div class="form-group">
                        <label for="price" class="label">Price</label>
                        <input type="number" step="any" nbInput fullWidth placeholder="Price" formControlName="price"
                            (input)="calculateAmount()" [ngClass]="{ 'is-invalid': submitted && f.price.errors }">
                    </div>

                    <div class="form-group">
                        <label for="amount" class="label">Amount</label>
                        <input type="number" step="any" disabled nbInput fullWidth placeholder="Amount"
                            formControlName="amount">
                    </div>


                </div>
            </div>


            <div class="row">
                <div class="col-md-10">

                </div>
                <div class="col-md-2">
                    <button type="submit" nbButton status="danger" class="pull-right">Save</button>
                </div>
            </div>
        </form>
        <br>

        <nb-card>
            <nb-card-header>
                IPO | Right Issued - Details
            </nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-12">
                        <ng2-smart-table [settings]="settings" [source]="source"
                            (deleteConfirm)="onDeleteConfirm($event)">
                        </ng2-smart-table>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </nb-card-body>
</nb-card>